.navbar-brand {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    letter-spacing: .1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nanum Myengjo', serif;
}

#welcome {
    background-image: url(../assets/welcome_bg.jpg);
    background-position: center;
    background-size: cover;
}